* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Commons --*/

.container {
    width: 80%;
    margin: 0 auto;

}

.width-card {
    width: calc(90% / 3);
}



img {
    max-width: 100%;
}



/*-- Utilities--*/
.d-flex {
    display: flex;
}

.position {
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: white;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.product {
    gap: 2rem;
}





/*--header--*/
header {
    background-color: orange;
   }

a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
}

i {
    padding-left: 1rem;
}

/*--main--*/

main {
    padding: 4rem 0;
    pa
}

.product-image {
    img.bottom-img {
        display: none;
    }

    &:hover img.top-img {
        display: none;
    }

    &:hover img.bottom-img {
        display: block;
    }


}

.product-image {
    position: relative;

    .like {
        position: absolute;
        top: 0;
        right: 0;
    }

}

.labels {
    position: absolute;
    bottom: 3rem;
    color: white;
    
    .discount {
        background-color: red;
        padding: 0.3rem;
        margin: 0.3rem;
        
    }

    .eco {
        background-color: green;
        padding: 0.3rem;
        margin: 0.3rem;
    }
}

.first-price {
    text-decoration: line-through;
}

.last-price {
    color: red;
}

/*--Footer--*/

footer {
    background-color: black;
    color: white;
    padding: 1rem;

}

