*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Commons --*/

.container {
    width: 80%;
    margin: 0 auto;
    
}

/*-- Utilities--*/
.d-flex {
    display: flex;
}

.position {
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: white;
}