*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Commons --*/

.container {
    width: 80%;
    margin: 0 auto;
    
}

.width-card {
    width: calc(90% / 3);
}



img {
    max-width: 100%;
}
    


/*-- Utilities--*/
.d-flex {
    display: flex;
}

.position {
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: white;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}





/*--header--*/
header {
    background-color: orange;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
}

i {
    padding-left: 1rem;
}

/*--main--*/

.product-image {
    img.bottom-img{
        display: none;
    }

    &:hover img.top-img{
        display: none;
    }

    &:hover img.bottom-img {
        display: block;
    }
}
